body{
    background-color: black;
}

.p1{
    color: rgb(101, 188, 223);
}

.p3{
    color: rgb(42, 143, 238)
}

h1, h2, h3, h4, p {
    text-align: center;
}

h3, h4 {
    color: darkcyan;
    font-size: 25px;
    margin-left: 50px;

}

.bio{
    display: flex;
    align-items: center;
    
}

p{
    color: white;
}

.p2{
    text-align: left;
    font-size: 20px;
    margin-left: 50px;
    width: 900px; 
 } 

.biografia{
    text-align: left;
    color: darkcyan;
    font-size: 25px;
    margin-left: 50px;
}

.videoclipe {
    color:  darkcyan;
    text-align: left;
    
}

.im1{
    float: right;
    margin-right: 450px;
}

